@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600");
* {
  transition: all 0.5s ease;
}

.verde,
.green {
  background-color: #389916;
  color: #fff;
}

.vermelho,
.red {
  background-color: #d9152b;
  color: #fff;
}

.amarelo,
.yellow {
  background-color: #f7e809;
}

.azul,
.blue {
  background-color: #1553aa;
  color: #fff;
}
nav ul {
  margin-bottom: 0;
  display: flex;
  /* vertically align in a row */
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
nav li {
  display: inline-block;
  margin: 0 10px;
  list-style-type: none;
}

nav li a img {
  width: 25px;
  height: 20px;
}
